/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header--item {
    padding: 1.6rem 7rem;
    border-radius: 10rem;
    color: var(--dark-cyan);
    background-color: white;
    text-decoration: none;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}

/* Section Hero */

.hero-box {
    display: flex;
    align-items: center;
    gap: 8rem;
}

.bg-img {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    background-color: var(--pale-cyan);
}

.hero-img,
.hero-img-box {
    width: 100%;
}

/* Section features */

.features--item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.feature-text-box {
    padding: 0 10rem;
}

.feature-img-box {
    padding: 3.5rem 4.8rem;
}

.feature-img {
    width: 100%;
}

/* Section CTA */
.CTA {
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;

    background-color: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    transform: translateY(45%);
    padding: 4.8rem 0;
}

.cta--text {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--dark-cyan);
}

/* FOOTER */
.footer {
    background-color: var(--dark-cyan);
    width: 100%;
    padding: 20rem 12rem 12rem 12rem;
    color: white;

    display: flex;
    flex-direction: column;
}

.footer-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.address-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 30%;
}

.footer-logo {
    filter: brightness(0) invert(1);
    width: 20%;
}

.address-box-item {
    display: flex;
    gap: 2rem;
}

.address-box-item img {
    height: 2.4rem;
}

.footer-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
}

.footer-item a,
.socials a {
    color: white;
}

.socials {
    display: flex;
    gap: 1rem;
}

.socials .social-icon {
    border: 1px dotted white;
    border-radius: 50%;
    padding: 1rem;
    transition: all 0.3s;
}

.social-icon:hover,
.social-icon:active {
    border-color: var(--pink);
    color: var(--pink);
}

.copyright {
    align-self: flex-end;
    transform: translate(5rem, 5rem);
    font-size: 1.4rem;
}
